/mods
/backups
/blueprints
/crash-reports
/journeymap
/ldlib
/local
/logs
/mods
/natives-*
/saves
/schematics
/shaderpacks
.qmenu_opened.marker
hmclversion.cfg
log4j2.xml
options.txt
patchouli_data.json
rhino.local.properties
*.jar
!/**/*/*.jar

*.json
!/**/*/*.json

